<div>
    <h2>
        <span>Actors</span>
        <button class="btn btn-primary float-right jh-create-entity create-actor" [routerLink]="['/', { outlets: { popup: ['actor-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Actor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="actors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span>First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span>Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthDate"><span>Birth Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthLocation"><span>Birth Location</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let actor of actors ;trackBy: trackId">
                <td><a [routerLink]="['../actor', actor.id ]">{{actor.id}}</a></td>
                <td>{{actor.firstName}}</td>
                <td>{{actor.lastName}}</td>
                <td>{{actor.birthDate | date:'mediumDate'}}</td>
                <td>{{actor.birthLocation}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../actor', actor.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'actor/'+ actor.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'actor/'+ actor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
