<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Ehcache Full-stack Demo</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question on Ehcache:
        </p>

        <ul>
            <li><a href="https://www.ehcache.org/" target="_blank">Ehcache homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/ehcache/info" target="_blank">Ehcache on Stack Overflow</a></li>
            <li><a href="https://github.com/ehcache/ehcache3/issues?state=open" target="_blank">Ehcache bug tracker</a></li>
            <li><a href="https://twitter.com/ehcache" target="_blank">Follow @ehcache on Twitter</a></li>
        </ul>
    </div>
</div>
